resource: 
  arn: arn:aws:dynamodb:us-west-2:123456789012:table/test-table
# IAM role arn you want to use to access the resource
role_arn: arn:aws:iam::123456789012:role/developers
aws_profiles: 
  # format should be <aws-account-id>: <profile name from ~/.aws/credentials>
  123456789012: prod
  246801357924: staging 
# the SSH url of the terraform repo where IAM roles are created
tf_repo: 
  url: git@github.com:choww/terraform.git
  # path in the repo where IAM roles are stored, relative to root of the terraform repo
  # only works if IAM roles for different environments are stored in separate directories
  iam_directories: 
    - projects/service_roles/staging
    - projects/team_roles/staging



